body {
  font-family: sans-serif; }

.JJJJUMMMMMMMMMMMMMMMMMMBOOOOOOOOOOOOOOTROOOOOOOOOOOOOOOOOOONNN {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  height: 3em;
  font-variant: small-caps;
  font-weight: bold;
  background: #444;
  color: white;
  display: flex;
  align-items: center; }

.grid {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr; }

.item img {
  max-width: 100%; }

.item-text {
  text-align: justify; }

@media (min-width: 500px) {
  .JJJJUMMMMMMMMMMMMMMMMMMBOOOOOOOOOOOOOOTROOOOOOOOOOOOOOOOOOONNN {
    font-size: 2em; }
  .grid {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 800px) {
  .JJJJUMMMMMMMMMMMMMMMMMMBOOOOOOOOOOOOOOTROOOOOOOOOOOOOOOOOOONNN {
    font-size: 3em; }
  .grid {
    grid-template-columns: 1fr 1fr 1fr; } }
